/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Source+Sans+Pro:wght@200&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Source+Sans+Pro:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #5f5f5f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.navbar-logo a img {
  width: 5rem;
  height: 45px;
  padding-left: 5rem;
}

.search-btn input {
  width: 15rem;
  height: 2.5rem;
  text-align: start;
  background-color: whitesmoke;
  border-radius: 5px;
  color: black;
  border: none;
  position: relative;
  padding-left: 1.5rem;
  /* right: 4.5rem; */
}

/* .search-btn .fa-search{
  position:absolute;
  left: 18rem;
  top: 24px;
   /* padding: 5px 2px 2px 10px;  
  } */
input:focus {
  border: 1px solid rgb(211, 89, 89);
  outline: none;
  box-shadow: 0px 0px 3px 0px rgb(211, 89, 89);
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin-right: 150px;
  text-align: center;
  padding: 0;

}

.navbar-links li {
  padding-top: 20px;
  margin: 0 10px;
  font-size: 1.1rem;
  /* text-align: center; */
}

.navbar-links a {
  padding-right: 0.8rem;
  color: #5f5f5f;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-links li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: rgb(211, 89, 89);
  /* background: #045be6; */
  position: absolute;
  top: 2.8rem;
  /* bottom: -15px; */
  transition: width 0.3s;
}

.navbar-links li a:hover::after,
.navbar-links li a.active::after {
  width: 100%;
}

.navbar-links,
.menu-items {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.navbar-links a:hover,
.menu-items:hover {
  color: black;
}

.user-img {
  width: 40px;
  /* height: 40px; */
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.online {
  position: relative;
}

.online::after {
  content: " ";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background-color: #41db51;
  position: absolute;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .search-btn {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
  }

  .navbar-links li {
    margin: 10px 0;
  }
}

/* ---------------navbar-end-------------------*/
.center {
  height: 60vh;
}

/* -----------footer-------------- */
#footer {
  height: 30vh;
  /* background-color: rgb(29, 28, 28); */
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.1);
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 70px;
}

.container-flex ul li {
  list-style: none;
}

.container-flex ul li a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  font-size: 1rem;
  font-weight: bold;
  /* padding-top: 50px; */
}

.container-flex ul li a:hover {
  color: rgb(233, 97, 124);

}

.tags {
  word-spacing: 2px;
  line-height: 70px;
}

#footer p {
  text-align: center;
  color: black;
  padding-top: 30px;
  line-height: 0;
}

#footer p a {
  color: black;
  text-decoration: none;
}

#footer p:hover,
a:hover {
  color: rgb(211, 89, 89);
}

.fa-facebook-f,
.fa-linkedin-in,
.fa-instagram {
  color: black;

  text-align: center;
  list-style-type: none;
  padding: 5px;
  position: relative;
  left: 45%;
  top: 10px;
}

.fa-facebook-f:hover,
.fa-linkedin-in:hover,
.fa-instagram:hover {
  color: rgb(211, 89, 89);
}